  <aside class="bg-primary">
      <div class="container text-center">
          <div class="call-to-action">
              <h3><font color="#000000">Antllllller?</font></h3>
              <hr color="#000000">
              <p>
                <font color="#000000">
                  사슴의 뿔(antler)은 매년 봄 새로 자라고 겨울에 떨어집니다. 우리는 “다음 세대를 위한 축산”을 위해 매순간 새로운 인사이트를 찾고 연구를 통해 용감하게 시도합니다.
                실험을 멈추지 맙시다. 서툴어 보일까 겁먹지 맙시다. 남들과 경쟁하지 맙시다. 그저 우리의 것들을 더 쓸모 있게 만들고 정확한 가치를 보여주는 것에 집중합시다.
                </font>
              </p>
              <!-- <h2><img src="https://github.com/adatalab/logo/blob/master/logo.png?raw=true" width=120 height=120></h2>
              <a href="https://github.com/adatalab" class="btn btn-default btn-xl wow tada">Github 둘러보기</a> -->
          </div>
      </div>
  </aside>
