<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">동물영양학 기반 데이터 분석을 통해<br><br>가장 좋은 의사결정을 할 수 있도록 돕습니다.</h2>
                <hr class="light">
                <p class="text-faded">데이터를 기반으로 한 정확하고 빠른 의사결정을 도와주는 역할을 지향합니다.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
