<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">동물영양학 기반 기계학습 분석을 통해<br><br>가장 좋은 의사결정을 할수 있도록 돕습니다.</h2>
                <hr class="light">
                <p class="text-faded">인공지능은 사람을 완전히 대체할 수 없습니다.<br>우리는 컨설턴트나 개인 농가가 의사결정을 할 때 데이터를 근거한 빠른 의사결정을 도와주는 역할을 지향합니다.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
