<section class="bg-dark" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Mission</h2>
                <hr class="light">
                <p class="text-faded">우리의 미션은 데이터를 통해 축산농가의 생산성과 경제성을 최적화하고 환경에 미치는 영향을 최소화 시킴으로써 이 산업이 사람들에게 받던 사랑과 존경을 회복하고 더 지속가능하게 만드는 것 입니다.</p>
                <p class="text-faded">Our mission is to optimize productivity and to minimize the environmental effect due to animal husbandry through insights from the data. Therefore, the primary industry can restore the love and respect received from people and finally make it more sustainable.</p>
                <!-- <a href="#" class="btn btn-default btn-xl">Get Started!</a> -->
            </div>
        </div>
    </div>
</section>
