<header>
    <div class="header-content">
        <div class="header-content-inner">
            <h1><font color="#FFD700">a</font><font color="#F05F40">data</font><font color="#FFD700">lab</font></h1>
            <hr>
            <p><font color="#FFD700">animal</font> <font color="#F05F40">data</font> <font color="#FFD700">laboratory</font></p>
            <p>축산분야 데이터 분석을 위한 R 패키지와 맞춤형 애플리케이션을 만듭니다.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
        </div>
    </div>
</header>
