<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Animal Data Lab.</h2>
                <hr class="primary">
            </div>
        </div>
    </div>

    <br><br>

    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center" height=80>
                <div class="service-box">
                    <p><img class="wow bounceIn" src="/img/Woosijang plus_symbol.png" height=80></p>
                    <h3>우시장플러스</h3>
                    <p class="text-muted">우시장 출품우 정보 AI 큐레이팅 서비스</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p><img class="wow bounceIn" src="/img/Hanwoo lab_symbol.png" height=80 data-wow-delay=".1s"></p>
                    <h3>Hanwoo Lab.</h3>
                    <p class="text-muted">데이터기반 한우 AI 사양관리 솔루션</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p><img class="wow bounceIn" src="/img/Dairy lab_symbol.png" height=80 data-wow-delay=".2s"></p>
                    <h3>Dairy Lab.</h3>
                    <p class="text-muted">젖소 검정데이터 상세분석 솔루션</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <p><img class="wow bounceIn" src="/img/Feed lab_symbol.png" height=80 data-wow-delay=".3s"></p>
                    <h3>Feed Lab.</h3>
                    <p class="text-muted">데이터 기반 영양소 요구량 평가 및 사료배합 프로그램(개발중)</p>
                </div>
            </div>
        </div>
    </div>
</section>
