<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">우리가 하는 일</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>R packages</h3>
                    <p class="text-muted">축산분야 데이터 분석을 위한 오픈소스 R 패키지를 개발합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-paper-plane wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Applications</h3>
                    <p class="text-muted">클라우드 컴퓨팅을 기반으로 한 기업/조합/농가 맞춤형 웹 애플리케이션을 개발합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-newspaper-o wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Education</h3>
                    <p class="text-muted">동물영양학 및 데이터 분석 교육을 제공합니다.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Open source</h3>
                    <p class="text-muted">animal data lab R package 개발은 누구나 참여할 수 있는 오픈소스 프로젝트입니다. Github을 통해 함께할 수 있습니다.</p>
                </div>
            </div>
        </div>
    </div>
</section>
